﻿@page "/counter"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "readwrite")]
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
